<html>
<body>
<head>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1>Bram's RaspberryPi and SenseHat based weather station</h1>
<table class="table">
<tr>
	<th colspan="2">Temperature</th>
</tr>
<tr>
	<td>Current Temperature</td>
	<td>{{temp}}°C</td>
</tr>
<tr>
	<td>Average Temperature</td>
	<td>{{avgtemp}}°C</td>
</tr>
<tr>
	<td>Minimum Temperature</td>
	<td>{{mintemp}}°C</td>
</tr>
<tr>
        <td>Maximum Temperature</td>
        <td>{{maxtemp}}°C</td>
</tr>
<tr>
	<th colspan="2">Humidity</th>
</tr>
<tr>
	<td>Current Relative Humidity</td>
	<td>{{humidity}}%</td>
</tr>
<tr>
	<td>Average Relative Humidity</td>
	<td>{{avghum}}%</td>
</tr>
<tr>
	<td>Minimum Relative Humidity</td>
	<td>{{minhum}}%</td>
</tr>
<tr>
        <td>Maximum Relative Humidity</td>
        <td>{{maxhum}}%</td>
</tr>
<tr>
	<th colspan="2">Pressure</th>
</tr>
<tr>
	<td>Current Pressure</td>
	<td>{{pressure}}hPa</td>
</tr>
<tr>
	<td>Average Pressure</td>
	<td>{{avgpres}}hPa</td>
</tr>
<tr>
        <td>Minimum Pressure</td>
        <td>{{minpres}}hPa</td>
</tr>
<tr>
        <td>Maximum Pressure</td>
        <td>{{maxpres}}hPa</td>
</tr>


</table>
</body>
</html>
